{% extends "base.html.twig" %}

{% block body %}
    {% include "partials/header.html.twig" %}
    <div class="container mt-3">
        <h2>Crear Categoria</h2>
        {{ form(form) }}
    </div>
{% endblock body %}